{% extends 'main.html' %}

{% block content %}
    <h1>Fundmeldung</h1>
    <div class="container-fluid">
        <div class="shadow p-4">
            <form id="fundmeldung">
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="fundplatznummer" class="col-sm-2 col-form-label">Fundplatznummer</label>
                        <input type="text" class="form-control" id="fundplatznummer">
                    </div>

                    <div class="col-md-6">
                        <label for="gemarkung" class="col-sm-2 col-form-label">Gemarkung</label>
                        <input type="text" class="form-control" id="gemarkung">
                    </div>
                    <div class="col-md-6">
                        <label for="landkreis" class="col-sm-2 col-form-label">Landkreis</label>
                        <input type="text" class="form-control" id="landkreis">
                    </div>

                    <div class="col-md-4">
                        <label for="flurname" class="col-sm-2 col-form-label">Flurname</label>
                        <input type="text" class="form-control" id="flurname">
                    </div>
                    <div class="col-md-4">
                        <label for="flurstueck" class="col-sm-2 col-form-label">Flurstück</label>
                        <input type="text" class="form-control" id="flurstueck">
                    </div>
                    <div class="col-md-4">
                        <label for="strassenummer" class="col-sm-2 col-form-label">Straße/HausNr.</label>
                        <input type="text" class="form-control" id="strassenummer">
                    </div>

                    <div class="col-md-4">
                        <label for="koordinatensystem" class="col-sm-2 col-form-label">Koordinatensystem</label>
                        <input type="text" class="form-control" id="koordinatensystem">
                    </div>
                    <div class="col-md-4">
                        <label for="utm-zone" class="col-sm-2 col-form-label">UTM-Zone</label>
                        <input type="text" class="form-control" id="utm-zone">
                    </div>
                    <div class="col-md-4">
                        <label for="einmessungsart" class="col-sm-2 col-form-label">Einmessungsart</label>
                        <select id="einmessungsart" class="form-select">
                            {% for art in einmessungsart %}
                                <option value="{{art}}">{{art}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="eckpunkt1_nord" class="col-sm-3 col-form-label">Eckpunkt 1 - Nord</label>
                        <input type="text" class="form-control" id="eckpunkt1_nord">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt2_nord" class="col-sm-3 col-form-label">Eckpunkt 2 - Nord</label>
                        <input type="text" class="form-control" id="eckpunkt2_nord">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt3_nord" class="col-sm-3 col-form-label">Eckpunkt 3 - Nord</label>
                        <input type="text" class="form-control" id="eckpunkt3_nord">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt4_nord" class="col-sm-3 col-form-label">Eckpunkt 4 - Nord</label>
                        <input type="text" class="form-control" id="eckpunkt4_nord">
                    </div>

                    <div class="col-md-3">
                        <label for="eckpunkt1_ost" class="col-sm-3 col-form-label">Eckpunkt 1 - Ost</label>
                        <input type="text" class="form-control" id="eckpunkt1_ost">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt2_ost" class="col-sm-3 col-form-label">Eckpunkt 2 - Ost</label>
                        <input type="text" class="form-control" id="eckpunkt2_ost">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt3_ost" class="col-sm-3 col-form-label">Eckpunkt 3 - Ost</label>
                        <input type="text" class="form-control" id="eckpunkt3_ost">
                    </div>
                    <div class="col-md-3">
                        <label for="eckpunkt4_ost" class="col-sm-3 col-form-label">Eckpunkt 4 - Ost</label>
                        <input type="text" class="form-control" id="eckpunkt4_ost">
                    </div>

                    <div class="col-md-3">
                        <label for="meterzumortskern" class="visually-hidden">Meter zum Ortskern</label>
                        <input type="text" class="form-control" id="meterzumortskern" placeholder="Meter zum Ortskern">
                    </div>
                    <div class="col-md-3">
                        <label for="lagezumortskern" class="visually-hidden">Lage zum Ortskern</label>
                        <select id="lagezumortskern" class="form-select">
                            {% for lageortskern in lagezumortskern %}
                                <option value="{{lageortskern}}">{{lageortskern}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="lageimgelaende" class="visually-hidden">Lage im Gelände</label>
                        <select id="lageimgelaende" class="form-select">
                            {% for lagegelaende in lageimgelaende %}
                                <option value="{{lagegelaende}}">{{lagegelaende}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="gelaendenutzung" class="visually-hidden">Geländenutzung</label>
                        <select id="gelaendenutzung" class="form-select">
                            {% for gelaende in gelaendenutzung %}
                                <option value="{{gelaende}}">{{gelaende}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="befundart" class="visually-hidden">Befundart</label>
                        <select id="befundart" class="form-select">
                            {% for art in befundart %}
                                <option value="{{art}}">{{art}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label for="befundart-sonstiges" class="visually-hidden">Sonstiges:</label>
                        <input type="text" class="form-control" id="befundart-sonstiges" placeholder="Sonstiges:">
                    </div>
                    <div class="col-md-4">
                        <label for="zeitstellung" class="visually-hidden">Zeitstellung</label>
                        <select id="zeitstellung" class="form-select">
                            {% for zeit in zeitstellung %}
                                <option value="{{zeit}}">{{zeit}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="kultur" class="visually-hidden">Kultur</label>
                        <input type="text" class="form-control" id="kultur" placeholder="Kultur">
                    </div>
                    <div class="col-md-4">
                        <label for="gruppe" class="visually-hidden">Gruppe</label>
                        <input type="text" class="form-control" id="gruppe" placeholder="Gruppe">
                    </div>
                    <div class="col-md-4">
                        <label for="auffindungsart" class="visually-hidden">Auffindungsart</label>
                        <select id="auffindungsart" class="form-select">
                            {% for auffindung in auffindungsart %}
                                <option value="{{auffindung}}">{{auffindung}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}