{% load static %}
<nav class="navbar shadow sticky-topmb-4" style="background-color: #588157;">
    <div class="container-fluid">
            <div class="d-flex align-items-center">
              {% if request.user.is_authenticated %}
              <h5 class="text-light m-2">Hallo {{request.user|title}} </h5>
              <a class="nav-link btn btn-light p-2" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-link btn btn-light p-2" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
      </div>
  </nav>